extends layout

block append head
//- styles here
block content
	#nofud-wrap.container.py-3
		.row.align-items-start.justify-content-center
			.col-12
				h2.half.text-red
					|No More COFUD
				#status
			.col-12
				canvas#nofud-canvas(width="800" height="600" style="border:10px solid red")
			#commands.col-12.py-2
				button#addNewFButton
					svg.bi(width="22" height="22" fill="currentColor")
						use(xlink:href="/icons.svg#unlock-fill")
					|Add Movable Object
				button#addNewWButton
					svg.bi(width="22" height="22" fill="currentColor")
						use(xlink:href="/icons.svg#lock-fill")
					|Add Fixed Object
				button#addNewPButton
					svg.bi(width="22" height="22" fill="currentColor")
						use(xlink:href="/icons.svg#person-fill")
					|Add Fixed Person
				button#eraseButton
					svg.bi(width="22" height="22" fill="currentColor")
						use(xlink:href="/icons.svg#trash-fill")
					|Erase
				button#resetButton
					|Reset
			.col-12.mb-5
				label How many people need to fit in here?
				input(type="number" name="numPeople" id="numPeople" value="5" placeholder="How many people need to fit in here?")
				button#calculateButton
					|Calculate NOFUD
			#intro.col-12
				span.context.highlight Preamble: "What is this?"
				h2.text-aqua Alright, This SUCKS!
				h3.half.mb-4 
					span.text-blue COVID 
					|is bad for your physical health.
					span.text-yellow Fear, Uncertainty, Doubt (FUD)
					|are bad for your mental health. In 2021 we have seen the brutal combination of the two:
					span.text-green COFUD.
				h3.half.text-black.mb-5
					span.text-red
						|No More COFUD
					| makes the best of a @!*# situation
				p.text-black.mb-5 
					span.highlight We need to stay 2 meters apart,
					| and 
					span.highlight we need to stay productive. 
					| How can we fit the most people into a space while still keeping 2 meters apart? 
					span.text-red.bold No More COFUD 
					| of course. 
					span.text-red.bold No More COFUD 
					| will use constraint programming powered by the golem network to suggest optimized floor plan layouts - whether it is a restaurant or an office building.
			#instructions.col-12
				span.context.highlight How to use:
				h3.half.mb-4 Using the grid above, you can create object stand-ins you'd find in a given room. You can drag and resize them as needed.
				p.mb-4
					span.highlight.yellow
						svg.bi(width="32" height="32" fill="currentColor")
							use(xlink:href="/icons.svg#unlock-fill")
						|A movable object 
					| represents a table, desk or something in the room that 
					span.text-red.bold No More COFUD 
					|can move in it's calculations. 
				p.mb-4
					span.highlight.purple
						svg.bi(width="32" height="32" fill="currentColor")
							use(xlink:href="/icons.svg#lock-fill")
						|A fixed object 
					| represents a wall or something in the room that 
					span.text-red.bold No More COFUD 
					|cannot move in it's calculations.
				p.mb-4
					span.highlight.aqua
						svg.bi(width="32" height="32" fill="currentColor")
							use(xlink:href="/icons.svg#person-fill")
						|A fixed person 
					| represents say a cashier, office manager, or host that  
					span.text-red.bold No More COFUD 
					|cannot move in it's calculations due to it's station.
				p.mb-4
					|After you've placed objects and filled in the number of people you want to fit in the room, hit 
					span.highlight.purple Calculate NOFUD 
					|to get the best possible setup for your room.
block append footer
